# Sentiment Analysis Project

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
/Users/spags/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

### Functions

In [10]:
def get_info(df):
    print(df.isna().sum())
    print(df.shape)
    display(df.describe())
    print(df.info())

## Obtain

### Importing the dataset

In [2]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv', engine = 'python')
print(df.shape)
df.head()

(1599999, 6)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

### Fixing the DataFrame

https://www.kaggle.com/kazanova/sentiment140

<b>This dataset contains the following 6 fields:</b>

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

In [3]:
# Fixing up this dataframe

df['target'] = df['0']
df['ids'] = df['1467810369']
df['date'] = df['Mon Apr 06 22:19:45 PDT 2009']
df['flag'] = df['NO_QUERY']
df['user'] = df['_TheSpecialOne_']
df['text'] = df["@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"]

drop_list = ["@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D",
             '0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
             '_TheSpecialOne_']

df.drop(drop_list, axis = 1, inplace = True)
df.head()

,target,ids,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

## Scrubbing

In [11]:
# Check out the backstory on this dataset

get_info(df)

target    0
ids       0
date      0
flag      0
user      0
text      0
dtype: int64
(1599999, 6)

             target           ids
count  1.599999e+06  1.599999e+06
mean   2.000001e+00  1.998818e+09
std    2.000001e+00  1.935757e+08
min    0.000000e+00  1.467811e+09
25%    0.000000e+00  1.956916e+09
50%    4.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1599999 non-null  int64
 1   ids     1599999 non-null  int64
 2   date    1599999 non-null  object
 3   flag    1599999 non-null  object
 4   user    1599999 non-null  object
 5   text    1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB
None

### Target

We know that the targets are 0 for negative, 2, for neutral and 4 for positive, but let's see what the value counts are for this column.

In [8]:
df['target'].value_counts()

4    800000
0    799999
Name: target, dtype: int64

> Interesting that there are no neutral tweets in this dataset.  Basically an even split between positive and negative.

### IDs

In [9]:
# Checking the value counts

df['ids'].value_counts()

1753678185    2
1678693526    2
1835870889    2
2190104868    2
1984377787    2
             ..
2056931811    1
2212131300    1
2188589814    1
1983537638    1
1964587131    1
Name: ids, Length: 1598314, dtype: int64

In [20]:
# debating on whether or not we need this column

df.drop('ids', axis = 1, inplace = True)

### Date

In [12]:
type(df['date'][0])

str

In [13]:
df['date'] = pd.to_datetime(df['date'])

/Users/spags/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [14]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810672,2009-04-06 22:19:49,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,2009-04-06 22:19:53,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,2009-04-06 22:19:57,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,2009-04-06 22:19:57,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,2009-04-06 22:20:00,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

### Flag

In [16]:
# All the values are the same so we can drop this column

df['flag'].value_counts()

NO_QUERY    1599999
Name: flag, dtype: int64

In [17]:
df.drop('flag', axis = 1, inplace = True)

### User

In [18]:
df['user'].value_counts()

lost_dog           549
webwoke            345
tweetpet           310
SallytheShizzle    281
VioletsCRUK        279
                  ...
Lesleypomeroy        1
__ValE__             1
thegurl              1
cnallen              1
UliSeS_9312          1
Name: user, Length: 659775, dtype: int64

### Text

In [19]:
df['text'][0]

"is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

## Saving Dataset

In [21]:
df.head()

,target,date,user,text
0,0,2009-04-06 22:19:49,scotthamilton,is upset that he can't update his Facebook by ...
1,0,2009-04-06 22:19:53,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,2009-04-06 22:19:57,ElleCTF,my whole body feels itchy and like its on fire
3,0,2009-04-06 22:19:57,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,2009-04-06 22:20:00,joy_wolf,@Kwesidei not the whole crew